<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:29</td>   <td>2665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.login(java.lang.String,java.lang.String)[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">login</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:29</td>   <td>2665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.login(java.lang.String,java.lang.String)[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">login</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:28:40</td>   <td>-105854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.SelectingBooks(java.lang.String)[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">SelectingBooks</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:28:40</td>   <td>-105854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.SelectingBooks(java.lang.String)[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">SelectingBooks</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:29:22</td>   <td>-64517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.cart()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">cart</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:29:49</td>   <td>-36911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.countLinks()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">countLinks</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:27:02</td>   <td>-204196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.SelectingBooks()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">SelectingBooks</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AtlanticBooksWebsite.intoTheUrl()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&gt;&gt;intoTheUrl</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:28:40</td>   <td>-105854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AtlanticBooksWebsite.SelectingBooks(java.lang.String)[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">SelectingBooks</td> 
  <td>main@1878700101</td>   <td></td> </tr>
<tr bgcolor="ad6d96">  <td>21/10/29 10:30:46</td>   <td>19474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AtlanticBooksWebsite.terminate()[pri:0, instance:com.mindtree.runner.AtlanticBooksWebsite@426b6a74]">&lt;&lt;terminate</td> 
<td>&nbsp;</td>  <td>main@1878700101</td>   <td></td> </tr>
</table>
